version: "3"
services:
  app:
    build:
      dockerfile: Dockerfile
      context: ./
    image: moneyforward-slack-bot:latest
    env_file:
      - .env
    volumes:
      - ./:/usr/src/app
    ports:
      - "3000:3000"
